
@font-face {
  font-family:"NHaasGroteskTXPro-55Rg.ttf";
  src:url(../fonts/NHaasGroteskTXPro-55Rg.ttf);
}

*{
  font-family: "NHaasGroteskTXPro-55Rg.ttf";
}


/* NOTE: header */

/* NOTE: navbar */
.navbar{
  height:60px;
}

.navbar .col-lg-6{
  height:100%;
  background:black;
}

.logo{
  margin-left: 20%;
  padding-top: 17px;
}

.navbar ul{
  list-style: none;
  width: 100%;
  display: inline-block;
  padding-top: 5px;
}

.navbar ul li{
  float: left;
  padding-left: 2%;
}

.navbar a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

i.fa-bars{
  display: none;
}
/* |NOTE: navbar */

/* NOTE: bg-header */
.bg-header{
  height:500px;
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container.bg-header [class*="col-"]{
  margin-top: 12%;
}

.bg-header h1,h4 {
  color: white;
  text-align: center;
  display:block;
}

.bg-header h1{
  font-size: 50px;
}

.bg-header a img{
  width: 10%;
  display: block;
  float: left;
}

img.ios{
  margin-left: 40%;
  margin-right: 1%;
}
/* |NOTE: bg-header */

/* NOTE: first-container */
.first-glob{
  margin-top: 50px;
  margin-bottom: 50px;
}

.container.first-glob [class*="col-"]{
  padding-left:5%;
  padding-right: 1%;
}

.container.first-glob [class*="col-"] .container{
  height: 100%;
  background: #fafafa;
  text-align: center;
}

.container.first-glob .second{
  padding-left:1%;
  padding-right: 5%;
}

.container.first-glob span,
.container.first-glob p,
.container.first-glob a{
  display:inline-block;
  width: 100%;
}

.container.first-glob span{
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 10%;
}

.container.first-glob p{
  font-size: 20px;
}

.container.first-glob img{
  margin-top: 5%;
  max-width: 40%;
}
/* |NOTE: first-container */

/* NOTE: second-container */

.container.second-glob{
  height: 700px;
  position:relative;
}

.container.sfondo{
  height: 60%;
  background-image:url(../img/HelbizBanner.jpg);
}

.container.iphone{
  height: 40%;
}

.container.iphone [class*="col-"]{
  height: 100%;
  text-align: center;
}

.container.iphone [class*="col-"] img{
  max-height: 100%;
  z-index: 10;
  position:absolute;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
}

.tab-smart{
  opacity: 0;
}

.container.iphone h2,
.container.iphone p{
  text-align: left;
}
.container.iphone h2{
  font-size: 30px;
  width: 50%;
}

.container.iphone p{
  display:inline-block;
  font-size: 20px;
  width: 70%;
}


/* |NOTE: second-container */




/* NOTE: desktop */
@media screen and (min-width:992px){

  .container.iphone h2{
    margin-left: 50%;
  }

}


/* NOTE: tablet */
@media screen and (min-width:768px) and (max-width:991px){
  .bg-header a img{
    width: 15%;
  }

  img.ios{
    margin-left: 35%;
  }

  .desktop{
    opacity:0;
  }

  .tab-smart{
    opacity: 10;
  }

  h2.tab-smart{
    margin-left: 14.5%;
  }

  .lower{
    display: none;
  }

}

/* NOTE: smartphone */
@media screen and (max-width:767px){

  .logo{
    margin-left: 5%;
    padding-top: 5%;
  }

  .bg-header a img{
    width: 20%;
  }

  img.ios{
    margin-left: 30%;
  }

  .navbar ul{
    display:none;
  }

  i.fa-bars{
    display: inherit;
    color:white;
    margin-left: 90%;
    padding-top: 5%;
  }

  .container.first-glob [class*="col-"]{
    padding:0;
  }

  .container.first-glob .second{
    margin-top:40px;
  }

  .container.iphone [class*="col-"] img{
    max-height: 70%;
  }

  .container.iphone [class*="col-"]{
    height: 70%;
    text-align: center;
  }

  .desktop{
    opacity: 0;
  }

  .tab-smart{
    opacity: 10;
  }

  h2.tab-smart{
    margin-left: 14%;
  }

  .lower{
    display: none;
  }


}
